#container {
  max-width: 800px;
  padding: 8px;
  margin: auto;
}

mark {
  background-color: yellow !important
}

h4, h3 {
  margin-left: 10px;
}

h5, p, ol, ul, img {
  margin-left: 20px;
}

img {
  max-width: 150px;
}
