#container {
  max-width: 800px;
  padding: 8px;
  margin: auto;
}

mark {
  background-color: yellow !important
}

h4, h3, h5, img {
  margin-left: 10px;
}

p, ol, ul{
  margin-left: 20px;
}

img {
  max-width: 150px;
}